:css
  .zombie {
    background-color: #0C3;
  }
  .human {
    background-color: #C93;
  }

%table.table.table-hover.table-bordered.table-responsive
  %thead{style: 'font-weight:bold'}
    %tr
      %td Name
      %td LDAP
  %tbody
    - @players.each do |player|
      %tr{class: zombie? ? (player.zombie? ? 'zombie' : 'human') : ''}
        %td= player.user.name
        %td= player.user.ldap
