%h1 Listing tags

%table.table
  %tr
    %th Tagger
    %th Tagee
    %th Time
    %th

  - @tags.each do |tag|
    %tr
      - if tag.tagger
        %td= tag.admin_tag ? 'Admin' : tag.tagger.user.name
      - else
        %td Someone?
      - if tag.tagee
        %td= tag.tagee.user.name
      -else
        %td Someone?
      %td= tag.time
