%h1 Listing tags

%table.table
  %tr
    %th Tagger
    %th Tagee
    %th Time
    %th

  - @tags.each do |tag|
    %tr
      %td= tag.admin_tag ? 'Admin' : tag.tagger.user.name
      %td= tag.tagee.user.name
      %td= tag.time
