%h1 Listing missions

%table.table.table-hover.table-bordered.table-responsive
  %thead{style: 'font-weight:bold'}
    %tr
      %th Title
      %th Time
      %th Checked In?

  %tbody
    - @missions.each do |mission|
      %tr
        %td= link_to mission.title, mission
        %td= link_to mission.time, mission
        %td= current_user && mission.attendances.exists?(player_id: current_user.player.id)

- if admin?
  %br

  = link_to 'New Mission', new_mission_path
