%h1 Listing attendances

%table
  %tr
    %th Player
    %th Mission
    %th Selfie URL

  - @attendances.each do |attendance|
    %tr
      %td= link_to attendance.player.user.name, attendance.player
      %td= link_to attendance.mission.title, attendance.mission
      %td= link_to attendance.selfie_url, attendance.selfie_url


%br

= link_to 'New Attendance', new_attendance_path
